/* Home */
#home{
    height:820px;
}
#home::before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    background: url('assets/main.jpg') no-repeat center center/cover ;
    background-position: top;
    background-size: auto ;
    height:900px;
    width:100%;
    z-index : -1;
    opacity:.8;

}
.main{
    display:flex;
    flex-direction:column;
    /* border:1px solid white; */
    align-items:center;
    position:absolute;
    bottom:10%;
    left:10%;



}
.btn{
    padding:10px 35px;
    background-color:white;
    /* border: 1px solid white; */
    color:black;
    outline:none;
    transition:.6s ease;
}
.btn a{
    text-decoration:none ;
    color:black;
    padding: 8px 25px;
    transition : all .5s ease;    
    font-weight:bold;
}
.btn a:hover{
    color:black;
}
.btn:hover{
    color:snow;
}
.headings{
    font-size: 1.7rem;
}
/* About */
#pic img{
    width:300px;
    height:400px;
}
/* #pic img{
    width:575px;
    height:400px;
} */
#intro h2{
    font-size: 1.5rem;
}
/* Portfolio */
.gallery img{
    width:250px;
    height:250px;
    margin:10px;
}
.gallery img:hover{
    zoom: normal;
    box-shadow: 0 10px 20px rgba(255,255,255, .3), 10px 6px 6px rgba(255,255,255, .6),5px 12px 6px rgba(255,255,255, .9);
    width:300px;
    height:300px;
    
}
/* Contact */
.input{
    width:80%;
}
#msg{
    width:70%;
}
#send{
    width:20%
}
p{
    line-height: 32px;   /* within paragraph */
    margin-bottom: 30px; /* between paragraphs */
    font-family: 'Spectral', serif;;
    font-size:1rem
  }
  #credits p{
	align-self:center;
    line-height: normal;
    margin-bottom: 0rem;
    font-family: 'Spectral', serif;;
    font-size:1rem
	}  
    